html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
#title {
  top: 5%;
  left: 3%;
}
#info {
  right: 3%;
  bottom: 0%;
}
#copyright {
  left: 3%;
  bottom: 2%;
}
#options {
  bottom: 2%;
  left: 0;
  width: 100%;
  text-align: center;
}
